.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 80px;

  z-index: 1000;

  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}

.logo {
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-links li {
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #f7a54b;
}

.reserve-btn {
  background: #f7a54b;
  color: white;

  border: none;
  border-radius: 30px;

  padding: 12px 25px;

  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.reserve-btn:hover {
  transform: translateY(-2px);
}
html {
  scroll-behavior: smooth;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #f7a54b;
}